body,html{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100%;
}
.hamburgerButton{
    font-size: 2rem;
}
.navigation{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 3rem;
    z-index: 1;
    overflow-x: hidden;

    background-color: #bfb086;
    transition: 0.5s;

    .navigation__list{
        padding:1rem;
        display: block;
        
        a{
            display: block;
            margin: 1rem;
            text-align: center;

            text-decoration: none;
            color:black;
            font-size: 1.5rem;
            opacity: 0.8;
            outline:none; // need to fix this blue background after click <- this should work but it's doesn't
        }
        a:hover{
            opacity: 1;
        }
        a:focus{
            outline:none;
        }
        .navigation__list--exitButton{
            position: absolute;
            top: 1rem;
            left: 1rem;
        }
    }
}
.container{
    transition: margin 0.5s;
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.mainPageContainer{
    width: 100%;
    margin-top: 2rem;
    .mainPageMain{
        width: 100%;
        align-items: center;
        .mainPageMain__header{
            font-family: 'Oswald', sans-serif;
        }
        .mainPage__books{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .bookThumbnail{
                text-align: center;
                width: 50%;
                a{
                    text-decoration: none;
                    color:black;

                    .bookThumbnail__title{
                        font-size: 1.2rem;
                        opacity: 0.8;
                    }
                    .bookThumbnail__title:hover{
                        opacity: 1;
                    }
                    .bookThumbnail__author{
                        opacity: 0.8;
                    }
                    .bookThumbnail__author:hover{
                        opacity: 1;
                    }
                }
            
            }
        }
    }
    .mainPageContainer__aside{
        display: none;
    }
}
.account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    background-color: #bfb086;
}
.account__header{
    margin:2rem;
}
.formRegister{
    text-align: center;
    .formRegister__label
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;
    }
}
.formLogin{
    text-align: center;
    .formLogin__label
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 900px) {
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 0;
        z-index: 1;
        transition: 0.5s;
        overflow-x: hidden;
        background-color: #bfb086;
    
        .navigation__list{
            padding:0;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
                color:black;
                font-size: 1.5rem;
                display: block;
                margin: 1rem;
                text-align: center;
                opacity: 0.8;
                outline:none; // need to fix this blue background after click <- this should work but it's doesn't
            }
            a:hover{
                opacity: 1;
            }
            a:focus{
                outline:none;
            }
            .navigation__list--exitButton{
                display: none;
            }
        }
    }
    .mainPageContainer{
        display: flex;
        width: 95%;
        height: 100%;
        margin-top: 2rem;
        flex-direction: row;
        .mainPageMain{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .mainPageMain__header{
                font-family: 'Oswald', sans-serif;
            }
            .mainPage__books{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 2rem;
                .bookThumbnail{
                    text-align: center;
                    width: 33%;
                    margin-bottom: 1.4rem;
                    a{
                        text-decoration: none;
                        color:black;
    
                        .bookThumbnail__title{
                            font-size: 1.2rem;
                            opacity: 0.8;
                        }
                        .bookThumbnail__title:hover{
                            opacity: 1;
                        }
                        .bookThumbnail__author{
                            opacity: 0.8;
                        }
                        .bookThumbnail__author:hover{
                            opacity: 1;
                        }
                    }
                }
                .specificBook{
                    display: flex;
                    flex-direction: row;  
                    .specificBook__bookCover{
                        margin: 1rem;
                    }
                    .specificBook__information{
                        text-align: justify;
                      
                    }
                }

            }
        }
        .mainPageAside{
            display: flex;
            width: 30%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            border-left: #9e9e9e 1px solid;
            
            .mainPageAside__header{
                font-family: 'Oswald', sans-serif;
            }
            .mainPageAside__generes{
                text-align: center;
                line-height: 2rem;
                margin: 1.1rem;
                justify-content: center;
               .recommendedBook{
                    margin-bottom: 1.5rem;

                    a{
                        text-decoration: none;
                        color:black;     
                        margin-bottom: 2rem;         
                    }
                    a:hover{
                        cursor: pointer;
                    }
               }
               
            }
        }
       
    }
}