body, html {
  margin: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.stop-scrolling {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hamburgerButton {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 2rem;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 0;
  padding-top: 3rem;
  overflow-x: hidden;
  background-color: #211717;
  font-family: "Gupter", serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation .navigation__list {
  padding: 1rem;
  display: block;
}

.navigation .navigation__list a {
  display: block;
  margin: 1rem;
  outline: none;
  color: #DFDDC7;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}

.navigation .navigation__list a:hover {
  color: #F58B54;
}

.navigation .navigation__list a:focus {
  outline: none;
}

.navigation .navigation__list .navigation__list--exitButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.navigation .navigation__list .menuSearch__searchInput {
  height: 2rem;
  width: 6.5rem;
  border: 0;
  padding-left: 0.4rem;
  color: #211717;
  background: #DFDDC7;
  font-weight: bold;
}

.navigation .navigation__list .menuSearch__searchButton {
  height: 2.1rem;
  width: 5rem;
  border: 0;
  margin-left: 1rem;
  color: #211717;
  background: #F58B54;
  font-size: 1.2rem;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DFDDC7;
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
}

.container .mainPageBanner {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.container .mainPageBanner .mainPageBanner__title {
  position: absolute;
  top: 25%;
  margin: 0;
  font-size: 4rem;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}

.container .mainPageBanner .mainPageBanner__title--line {
  position: absolute;
  top: 42%;
  width: 42%;
  height: 2px;
  background: #ffffff;
}

.container .mainPageBanner .mainPageBanner__info {
  position: absolute;
  top: 45%;
  margin: 0;
  font-size: 2.5rem;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.container .mainPageBanner .mainPageBanner__info--line {
  position: absolute;
  top: 58%;
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.mainPageContainer {
  width: 100%;
  margin-top: 2rem;
}

.mainPageContainer .mainPageMain {
  width: 100%;
}

.mainPageContainer .mainPageMain .mainPageMain__header {
  width: 100%;
  padding: 0.1rem 0 0.1rem;
  background: #211717;
  color: #DFDDC7;
  text-transform: uppercase;
}

.mainPageContainer .mainPageMain .mainPageMain__header .mainPageMain__header--text {
  margin-left: 1rem;
}

.mainPageContainer .mainPageMain .mainPage__books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.1rem;
}

.mainPageContainer .mainPageMain .mainPage__books .bookThumbnail {
  padding: 20px 5px 5px;
  width: 45%;
  margin-right: 2%;
  margin-top: 2rem;
  background: #211717;
  text-align: center;
}

.mainPageContainer .mainPageMain .mainPage__books .bookThumbnail a {
  text-decoration: none;
  color: #DFDDC7;
}

.mainPageContainer .mainPageMain .mainPage__books .bookThumbnail a .bookThumbnail__title {
  opacity: 0.8;
  font-weight: bold;
  font-size: 1.3rem;
}

.mainPageContainer .mainPageMain .mainPage__books .bookThumbnail a .bookThumbnail__author {
  opacity: 0.8;
}

.mainPageContainer .mainPageMain .mainPage__books .bookThumbnail a .bookThumbnail__price {
  color: #F58B54;
  font-weight: bold;
}

.mainPageContainer .mainPageMain .mainPage__books .bookThumbnail a:hover .bookThumbnail__title {
  opacity: 1;
}

.mainPageContainer .mainPageMain .mainPage__books .bookThumbnail a:hover .bookThumbnail__author {
  opacity: 1;
}

.mainPageContainer .mainPageMain .mainPage__books .bookThumbnail:hover {
  background: #302121;
}

.mainPageContainer .mainPageMain .specificBook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainPageContainer .mainPageMain .specificBook .specificBook__bookCover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainPageContainer .mainPageMain .specificBook .specificBook__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPageContainer .mainPageMain .specificBook .specificBook__information--buyButton {
  height: 2.1rem;
  border: 1px solid #211717;
  margin: 1rem 0;
  width: 6rem;
  color: #262626;
  background: #F58B54;
  font-size: 1.2rem;
}

.mainPageContainer .mainPageMain .specificBook .specificBook__information--buyButton:hover {
  background: #f69b6c;
}

.mainPageContainer .mainPageMain .specificBook .specificBook__information--price {
  font-size: 2rem;
}

.mainPageContainer .mainPage__booksFromCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.mainPageContainer .mainPage__booksFromCart .bookThumbnail {
  width: 30%;
  margin-top: 100rem;
}

.mainPageContainer .mainPage__booksFromCart .bookThumbnail a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  border-bottom: 1px solid gray;
  color: black;
  text-decoration: none;
}

.mainPageContainer .mainPage__booksFromCart .bookThumbnail a .dataAboutBook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 2rem;
}

.mainPageContainer .mainPage__booksFromCart .bookThumbnail a .dataAboutBook .titleAndAuthor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainPageContainer .mainPage__booksFromCart .bookThumbnail a .dataAboutBook .titleAndAuthor .titleAndAuthor__title {
  font-size: 1.5rem;
}

.mainPageContainer .mainPageAside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainPageContainer .mainPageAside .mainPageAside__header {
  padding: 0.1rem 0 0.1rem;
  width: 100%;
  background: #211717;
  color: #DFDDC7;
  text-transform: uppercase;
}

.mainPageContainer .mainPageAside .mainPageAside__header .mainPageAside__header--text {
  margin-left: 1rem;
}

.mainPageContainer .mainPageAside .mainPageAside__generes {
  margin: 1.1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2rem;
  font-size: 1.4rem;
  text-align: center;
}

.mainPageContainer .mainPageAside .mainPageAside__generes .mainPageAside__generes--link {
  margin: 0 5px 0;
}

.mainPageContainer .mainPageAside .mainPageAside__generes .mainPageAside__generes--link:hover {
  cursor: pointer;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem 0 10rem;
  padding: 2rem 1.5rem;
  background-color: #211717;
}

.account .account__header {
  margin: 2rem;
  color: #DFDDC7;
  font-size: 3rem;
}

.account .formRegister {
  text-align: center;
}

.account .formRegister .formRegister__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  color: #DFDDC7;
  text-align: center;
}

.account .formRegister .formInput {
  height: 2rem;
  border: 0;
  padding-left: 0.4rem;
  margin-top: 0.3rem;
  color: #211717;
  background: #DFDDC7;
  font-weight: bold;
}

.account .formRegister .formButton {
  height: 2.1rem;
  border: 0;
  margin-left: 0.5rem;
  color: #262626;
  background: #F58B54;
  font-size: 1.2rem;
}

.account .formRegister .formButton:hover {
  background: #f69b6c;
}

.account .formLogin {
  text-align: center;
  color: #DFDDC7;
}

.account .formLogin .formLogin__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  text-align: center;
}

.account .formLogin .formInput {
  height: 2rem;
  border: 0;
  padding-left: 0.4rem;
  margin-top: 0.3rem;
  color: #211717;
  background: #DFDDC7;
  font-weight: bold;
}

.account .formLogin .formButton {
  height: 2.1rem;
  border: 0;
  margin-left: 0.5rem;
  color: #262626;
  background: #F58B54;
  font-size: 1.2rem;
}

.account .formLogin .formButton:hover {
  background: #f69b6c;
}

.footer {
  padding: 1rem 0 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #211717;
}

.footer .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem 1rem;
  text-align: center;
}

.footer .footerLinks .footerLinks--header {
  color: #DFDDC7;
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.footer .footerLinks .footerLinks--link {
  color: #DFDDC7;
  text-decoration: none;
}

.footer .footerLinks .footerLinks--link:hover {
  color: #f2f1e7;
}

@media only screen and (min-width: 900px) {
  .stop-scrolling {
    height: unset;
    overflow: unset;
  }
  .navigation {
    padding-top: 0;
  }
  .navigation .navigation__list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation .navigation__list .navigation__list--exitButton {
    display: none;
  }
  .navigation .navigation__list .menuSearch__searchInput {
    width: unset;
  }
  .container .mainPageBanner {
    margin-top: 6em;
  }
  .container .mainPageBanner .mainPageBanner__title {
    top: 10%;
    font-size: 8rem;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  }
  .container .mainPageBanner .mainPageBanner__title--line {
    top: 42%;
    width: 42%;
    height: 2px;
    background: #ffffff;
  }
  .container .mainPageBanner .mainPageBanner__info {
    top: 45%;
    font-size: 5rem;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  }
  .container .mainPageBanner .mainPageBanner__info--line {
    top: 67%;
    width: 60%;
    height: 2px;
  }
  .mainPageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
  }
  .mainPageContainer .mainPageMain {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0.5%;
  }
  .mainPageContainer .mainPageMain .mainPage__books {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 2rem;
  }
  .mainPageContainer .mainPageMain .mainPage__books .bookThumbnail {
    width: 30%;
    margin-right: 2%;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    text-align: center;
  }
  .mainPageContainer .mainPageMain .mainPage__book .specificBook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mainPageContainer .mainPageMain .mainPage__book .specificBook .specificBook__bookCover {
    margin: 2.4rem 0 0 2rem;
    display: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .mainPageContainer .mainPageMain .mainPage__book .specificBook .specificBook__information {
    margin: 1rem;
    display: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    text-align: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .mainPageContainer .mainPageMain .mainPage__book .specificBook .specificBook__information .specificBook__information--description {
    text-align: justify;
  }
  .mainPageContainer .mainPageMain .mainPage__book .specificBook .specificBook__information .specificBook__information--buyButton {
    height: 2.1rem;
    border: 1px solid #211717;
    margin-top: 1rem;
    color: #262626;
    background: #F58B54;
    font-size: 1.2rem;
  }
  .mainPageContainer .mainPageAside {
    height: 100%;
    padding-left: 0.5%;
    width: 32%;
  }
  .mainPageContainer .mainPageAside .mainPageAside__header {
    margin-left: 1rem;
  }
  .mainPageContainer .mainPageAside .mainPageAside__generes .recommendedBook {
    margin-bottom: 1.5rem;
  }
  .mainPageContainer .mainPageAside .mainPageAside__generes .recommendedBook a {
    margin-bottom: 2rem;
    color: black;
    text-decoration: none;
  }
  .mainPageContainer .mainPageAside .mainPageAside__generes .recommendedBook a:hover {
    cursor: pointer;
  }
  .account {
    width: 20rem;
  }
  .footer {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .footer .footerLinks {
    margin: 0 5rem;
  }
}
/*# sourceMappingURL=style.css.map */