body, html {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#dce3d3), color-stop(#dde4d0), color-stop(#dee6cd), color-stop(#e0e7ca), color-stop(#e2e8c7), color-stop(#e1e6c3), color-stop(#dfe5c0), color-stop(#dee3bc), color-stop(#d9dfb8), color-stop(#d4dbb3), color-stop(#cfd7af), to(#cad3ab));
  background-image: linear-gradient(to right top, #dce3d3, #dde4d0, #dee6cd, #e0e7ca, #e2e8c7, #e1e6c3, #dfe5c0, #dee3bc, #d9dfb8, #d4dbb3, #cfd7af, #cad3ab);
  margin: 0;
  height: 100%;
}

.hamburgerButton {
  font-size: 2rem;
}

.navigation {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 3rem;
  z-index: 1;
  overflow-x: hidden;
  background-color: #bfb086;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation .navigation__list {
  padding: 1rem;
  display: block;
}

.navigation .navigation__list a {
  display: block;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  opacity: 0.8;
  outline: none;
}

.navigation .navigation__list a:hover {
  opacity: 1;
}

.navigation .navigation__list a:focus {
  outline: none;
}

.navigation .navigation__list .navigation__list--exitButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.container {
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
  padding: 1rem;
}

.accountContainer {
  width: 98vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accountContainer .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  height: 20rem;
  background-color: #bfb086;
}

.accountContainer .account__header {
  margin: 2rem;
}

.accountContainer .formRegister {
  text-align: center;
}

.accountContainer .formRegister .formRegister__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.accountContainer .formLogin {
  text-align: center;
}

.accountContainer .formLogin .formLogin__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 900px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 0;
    z-index: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow-x: hidden;
    background-color: #bfb086;
  }
  .navigation .navigation__list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation .navigation__list a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    display: block;
    margin: 1rem;
    text-align: center;
    opacity: 0.8;
    outline: none;
  }
  .navigation .navigation__list a:hover {
    opacity: 1;
  }
  .navigation .navigation__list a:focus {
    outline: none;
  }
  .navigation .navigation__list .navigation__list--exitButton {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */